.nav-menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    z-index: 1;
}

.logo {
    width: 14em;
    margin: 2em 0 0 2em;
}

.logo-img {
    width: 100%;
}

.app-name {
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    color: #282425;
}

