// Profile Styles

.profile-container {
    margin-top: 20vh;
    margin-left: 3em;
    h1 {
        font-size: 3em;
        padding: .6em;
    }

    p {
        font-size: 2em;
        font-style: italic;
    }
    img {
        padding: 1em;
        border-radius: 50%;
    }
}